@model IEnumerable<ServiceST.DAL.Entities.Client>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2></h2>

@using (Html.BeginForm("Index", "Clients", FormMethod.Get, new { @class = "form-inline"}))
{
    <p>
        Last Name: @Html.TextBox("Last","", new { @class = "form-control" })
        &nbsp
        First Name: @Html.TextBox("First","", new { @class = "form-control" })
        &nbsp
        <input type="submit" value="Find" class="btn btn-default"/>
    </p>
}

<h2></h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id })
            &nbsp
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>
