@model ServiceST.DAL.Entities.Car

@{
    ViewBag.Title = "Edit";
}

<h2></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.make, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.make, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.make, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.model, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.model, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.client_id, "Client", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br />
                <label>Last Name</label>
                @Html.DropDownList("LName", ViewBag.client_id_l_name as SelectList, htmlAttributes: new { @class = "form-control", id = "lname" })
                <span id="lname_error"></span>
                <br />
                <label>First Name</label>
                @Html.DropDownList("FName", ViewBag.client_id_f_name as SelectList, htmlAttributes: new { @class = "form-control", id = "fname" })
                <span id="fname_error"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(function () {
        $('#lname').change(function () {
            // получаем выбранный last name
            var s = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFName")/' + s,
                success: function (data) {
                    // заменяем содержимое присланным частичным представлением
                    $('#fname').replaceWith(data);
                }
            });
        });
    })
</script>
}
