@model IEnumerable<ServiceST.DAL.Entities.Car>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.first_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.first_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id })
            &nbsp
            @Html.ActionLink("Details", "Details", new { id=item.id })
            &nbsp
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
